* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(150deg, #0f2b05, #000000);
  text-align: center;
  height: 100vh;
}
header {
  padding: 75px 0;
}

.cartao {
  display: inline-block;
  width: 354px;
  height: 508px;
  background: url(../assets/bg-explorer.svg);
}

.cartao > img {
  object-fit: cover;
  width: 150px;
  height: 150px;
  border-radius: 50%;
}
